<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    <h1>{{ message }}</h1>
    <p>Server is alive: <span id="server-status"></span></p>

    <script>
        const socket = io();

        socket.emit('is-alive', (data) => {
            document.getElementById('server-status').innerText = data.status;
        });
    </script>
</body>

</html>
